@media (min-width: 600px) {
    #nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #nav-bar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    #menu {
        display: none;
    }

    footer span {
        display: inline;
        margin: 0 .5rem;
    }

    .main, .main-reservations {
        flex-direction: row;
        column-gap: 1rem;
    }

    .main-contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .location {
        grid-column: 1 / 3;
    }
}