* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: #f0f0f0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: white;
}

img {
    width: 100%;
    height: auto;
}

header .logo img{
    width: 3rem;
    background-color: white;
    border-radius: 50%;
    padding: 0.1rem;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
}

header #temp-max {
    position: absolute;
    left: 10px;
    top: 5rem;
    border: 1px solid #f0f0f0;
    padding: .5rem;
    width: 10rem;
    background-color: rgba(1, 103, 172,.5);
}

header #temp-max i {
    position: relative;
    color: #f0f0f0;
    font-weight: bold;
    font-size: 1.5rem;
    left: 8rem;
    top: -5px;
}

.close {
    display: none;
}

header .temp-max-value {
    position: relative;
    left: 28px;
    top: 0.4rem;
    color: #f0f0f0;
    font-weight: bold;
    font-size: 1.5rem;
}

header #temp-max h3 {
    color: #f0f0f0;
    font-weight: normal;
}

.logo h1 {
    position: absolute;
    left: 70px;
}

nav {
    position: absolute;
    left: 30%;
    top: 30px;
    width: 70%;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    line-height: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
}

.hero > div {
    position: relative;
}

.hero-label {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.social-media {
    margin-bottom: .5rem;
}

.social-media i{
    font-size: 2rem;
    color: #f0f0f0;
    margin-right: 1rem;
    cursor: pointer;
}

.hero-label a {
    text-decoration: none;
    color: white;
    background-color: #0167AC;
    padding: .75rem 1rem;
    border-radius: 5px;
    border: .15rem solid white;
    font-size: 1.2rem;
    font-weight: bolder;
    transition: all .3s ease-in-out;
}

.hero-label a:hover {
    text-decoration: none;
    color: #0167AC;
    background-color: white;
    padding: .75rem 1rem;
    border-radius: 5px;
    border: .15rem solid #0167AC;
    font-size: 1.2rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 1rem;
    padding: 1rem 0;
    margin: 1rem 0;
}

.main > section {
    border: 1px solid #0167AC;
    padding: 1rem;
}

.main h2 {
    color: #0167AC;
}

.main .rentals span {
    color: #0167AC;
}

.main-rentals {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem 0;
}

.main-rentals .gallery {
    border: 1px solid #0167AC;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.main-rentals .gallery section {
    border: 1px solid #0167AC;
    padding: .5rem;
    width: 30%;
    position: relative;
}

.main-rentals .gallery section a {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    text-decoration: none;
    background-color: #0167AC;
    padding: .3rem .5rem;
    color: #f0f0f0;
    transition: color .2s ease-in-out;
}

.thank-you-contact {
    text-align: center;
    padding: 3rem;
}

.main-rentals .gallery section a:hover {
    background-color: #f0f0f0;
    color: #0167AC;
    border: 1px solid #0167AC;
}

span {
    font-weight: bold;
}

.weather span {
    display: block;
    font-weight: normal;
    
}

.weather > * {
    margin-bottom: .5rem;
}

.weather img {
    width: 5rem;
    background-color: rgba(1, 104, 173, 0.5)
}

.rentals dl {
    padding: 1rem;
}

.rentals dl dt {
    margin-bottom: .75rem;
    margin-top: 1rem;
}

.rentals dl dd {
    margin-left: .75rem;
    margin-bottom: .5rem;
}

footer {
    background-color: #0167AC;
    height: 9rem;
    padding: 1rem;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}

footer .footer-logo {
    width: 3rem;
    background-color: white;
    border-radius: 50%;
    padding: 0.1rem;
    display: flex;
    align-items: center;
}

footer .footer-logo img {
    margin-right: 1rem;
}

footer .footer-logo h2 {
    color: #f0f0f0;
}

footer span {
    display: block;
}

#menu::before {
    content: "☰";
    font-size: 2rem;
    margin: 0.5rem;
    color: #fff;
    position: absolute;
    right: 25px;
    top: 10px;
}

#menu.show::before {
    content: "✖";
    font-size: 2rem;
    color: #fff;
    position: absolute;
    right: 25px;
    top: 10px;
}

nav {
    display: none;
}

#nav-bar.show {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.myTable {
    border: 1px solid #0167AC;
    width: 100%;
    border-collapse: collapse;
}

.myTable caption{
    font-size: 1.2rem;
    font-weight: bold;
}

.myTable th,caption {
    border: 1px solid #f0f0f0;
    background-color: #0167AC;
    color: #f0f0f0;
    padding: .3rem;
}

.myTable td {
    border: 1px solid #0167AC;
    padding: .3rem;
}

.reservations-title {
    color: #0167AC;
}

.agreements, .myForm, .contact-form {
    padding: 1rem;
    border: 1px solid #0167AC;
}

.agreements ul {
    list-style: none;
    padding-left: 20px;
}

.agreements ul li::before {
    content: "▪";
    color: #0167AC;
    display: inline-block;
    width: 1em;
    height: 44px;
    margin-left: -1em;
    font-size: 1.5rem;
}

.myForm label {
    display: block;
    margin-bottom: 1rem;
}

.myForm form > input {
    width: 100%;
    height: 44px;
    background-color: #0167AC;
    color: #f0f0f0;
    border: none;
}

.myForm label input, textarea {
    display: block;
    width: 100%;
    min-height: 44px;
    padding: .2rem;
    outline: none;
}

.contact-form label input, textarea {
    display: block;
    width: 100%;
    min-height: 44px;
    padding: .2rem;
    outline: none;
}

.main-reservations, .main-contact {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem 0;
}

.contact-form form > input {
    width: 100%;
    height: 44px;
    background-color: #0167AC;
    color: #f0f0f0;
    border: none;
}

.contact-form label {
    display: block;
    margin-top: 1rem;
}

.contact-form input[type="submit"] {
    margin-top: 1rem;
}

.location, .contact-info {
    padding: 1rem;
    border: 1px solid #0167AC;
}

.location h3 {
    margin: 1rem 0 0.5rem 0;
}

.location >  div > iframe{
    width: 100%;
}

.contact-info > div {
    margin: 1rem 0;
}

.contact-info > div > h3 {
    margin: .5rem 0;
}

.contact-info > div > p {
    line-height: 1.5rem;
    margin-left: .5rem;
}

@media (max-width: 500px) {
    .hero-label {
        left: 20px;
        bottom: 20px;
    }

    .hero-label a {
        text-decoration: none;
        color: white;
        background-color: #0167AC;
        padding: 0.5rem 0.5rem;
        border-radius: 5px;
        border: 0.15rem solid white;
        font-size: 1rem;
        font-weight: bolder;
        transition: all .3s ease-in-out;
    }

    nav ul {
        line-height: 1.5rem;
    }

    header #temp-max h3 {
        font-size: 1rem;
    }

    header #temp-max span {
        font-size: 1.1rem;
        text-align: center;
    }

    header #temp-max {
        left: 10px;
        top: 4rem;
    }
}
