* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
}

h1,
h2,
h3,
h4 {
    font-family: 'Cormorant Garamond', serif;
}

header {
    background-color: #6F2DBD;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    color: #fff;
    font-size: 1rem;
}

header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6rem;
    text-align: center;
    margin: 0.3rem 0;
}

header .logo img {
    width: 80%;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
}

header .cta {
    display: none;
}

header .icons {
    display: flex;
    flex-wrap: nowrap;

}

nav {
    display: none;
}

nav.show {
    background-color: #6F2DBD;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0.5rem;
}

header .cta-upper-button {
    background-color: #fff;
    color: #000;
    text-align: center;
}

#menu::before {
    content: "☰";
    font-size: 2rem;
    margin: 0.5rem;
    color: #fff;
}

#menu.show::before {
    content: "✖";
    font-size: 2rem;
    color: #fff;
}

#nav-bar.show {
    display: flex;
    flex-direction: column;
}

.icons i {
    font-size: 2rem;
    color: #fff;
    margin: 0 0.2rem;
    cursor: pointer;
}

.cta-upper-button {
    width: 5rem;
    padding: 0.5rem;
    text-align: center;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}

.cta-upper-button i {
    margin-right: 1rem;
}

main {
    display: grid;
    grid-template-columns: auto;
    /* grid-template-rows: auto auto auto auto; */
    gap: 0.5rem;
    padding: 1rem;
    text-align: center;
    min-height: 300px;
    justify-content: center;
    position: relative;
}

main h1 {
    grid-column: 1 / 2;
    background-color: #B9FAF8;
    padding: 1rem;
    margin: 0;
    position: relative;
}

main>section {
    background-color: #B9FAF8;
}

/* main .hero::before {
    grid-row: 2 / 3;
    content: "";
    background-image: url('../images/chamber-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 50%;
    display: inline-block;
} */

main .hero {
    position: relative;
}

main .hero picture {
    width: 100%;
}

main .hero picture img {
    width: 100%;
    height: auto;
}

main .hero>.hero-button {
    position: absolute;
    top: 38%;
    left: 38%;
    background-color: #6F2DBD;
    color: #fff;
    padding: 0.3rem 0;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(54, 54, 54), -3px 3px 3px rgb(54, 54, 54);
    cursor: pointer;
    width: 20%;
    font-size: 0.7rem;
}

.wheather {
    grid-row: 3 / 4;
    /* content: "";
    background-image: url('../images/weather.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding-top: 50%;
    display: inline-block; */
}

main .wheather > img {
   width: 50%;
   margin: 2rem 0;
}

main .wheather > p {
    margin-top: 0.5rem;
 }

main .events::before {
    grid-row: 4 / 5;
    content: "";
    background-image: url('../images/events.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding-top: 50%;
    display: inline-block;
}

form{
    margin: auto;
}

form label {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1rem 0;
    width: 100%;
}

form select {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

form label input, form select, form textarea {
    padding: 0.4rem 2%;
    border-radius: 5px;
    border: none;
    background-color: lightgray;
    outline: none;
}

form label textarea {
    resize: none;
    height: 90px;
}

ul {
    margin: 0.5rem;
    font-size: .8rem;
    text-align: left;
}

ul li {
    margin-bottom: 0.3rem;
}

#submit-btn {
    background-color: #A663CC;
    color: #fff;
    margin-top: 1rem;
}

.spotlights {
    grid-row: 5 / 6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-content: center;
}

.spotlight-1::before {
    content: "";
    background-image: url('../images/graphic-design-services.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding-top: 50%;
    display: inline-block;
}

.spotlight-2::before {
    content: "";
    background-image: url('../images/restaurant.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding-top: 50%;
    display: inline-block;
}

.spotlight-3::before {
    content: "";
    background-image: url('../images/little-sale-kids-sale-landing-page.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding-top: 50%;
    display: inline-block;
}

main section {
    border: 1px solid #6F2DBD;
    padding: 1rem;
    width: 70%;
    margin: auto;
}

main section article {
    border: 1px solid #db511b;
    padding: 1rem;
    margin: 0.2rem 0;
}

footer {
    background-color: #6F2DBD;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    text-align: center;
}

footer>div {
    width: 100%;
    color: #fff;
    margin: 0.3rem 0;
}

.footer-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    margin: 1rem auto;
}

.footer-title {
    font-size: 1.2rem;
}

footer p {
    margin: 0.3rem 0;
}

footer>p {
    font-size: 0.85rem;
    color: yellow;
}

/* --------------------------------------DARK-MODE-SWITCH-------------------------------------- */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
    margin-right: 1rem;
}

.switch > span:nth-of-type(1) {
    top: -20px;
    position: relative;
    width: 5rem;
    font-size: 0.8rem;
    left: -6px;
    color: #fff;
    display: inline-block;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 5px;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B9FAF8;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
}

.slider:before {
    position: absolute;
    border-radius: 5px;
    content: "";
    height: 17px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #A663CC;
    border-radius: 5px;
}

input:focus+.slider {
    box-shadow: 0 0 1px #A663CC;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.dark-mode {
    background-color: rgb(29, 28, 28);
    color: #fff;
}

/* --------------------------------------DARK-MODE-SWITCH-------------------------------------- */

footer img {
    width: 7rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
}

.statistics img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.atractions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 0.3rem;
}

.atractions img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.calendar img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.images {
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
}

.images img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

#welcome {
    background-color: #A663CC;
    color: #fff;
    text-align: center;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: fit-content;
}

.directory-buttons {
    position: absolute;
    right: 20px;
    top: 15px;
}

.directory-buttons i {
    text-align: right;
    margin-left: 0.5rem;
    padding: 0.3rem;
    color: #6F2DBD;
    font-size: 2rem;
}

.directory-buttons i:hover {
    background-color: #A663CC; 
    color: white;
}

.members img {
    width: 72%;
    background: #B9FAF8;
    padding: 0.5rem;
    margin: auto;
}

.members section a {
    font-size: .73rem;
}

.members section > div {
    min-height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.members.list {
    display: flex;
    flex-direction: column;
}

main.members.list section {
    background: transparent;
    border: none;
    text-align: left;
    max-width: 400px;
}

main.members.list section > div {
    display: none;
}

@media (max-width: 280px) {
    main .hero>.hero-button {
        position: absolute;
        top: 38%;
        left: 36%;
        background-color: #6F2DBD;
        color: #fff;
        padding: 0.3rem 0.5rem;
        border: none;
        border-radius: 5px;
        box-shadow: 3px 3px 3px rgb(54, 54, 54), -3px 3px 3px rgb(54, 54, 54);
        cursor: pointer;
        width: 25%;
        font-size: 0.6rem;
    }
}