@media (min-width: 960px) {
    .container {
        max-width: 980px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 0.5rem;
        padding: 1rem;
        text-align: center;
    }

    main h1 {
        grid-column: 1 /4;
        grid-row: 1 / 2;
    }

    .hero {
        grid-column: 1 /4;
        grid-row: 2 / 3;
    }

    main .hero>.hero-button {
        position: absolute;
        top: 38%;
        left: 37%;
        background-color: #6F2DBD;
        color: #fff;
        padding: 0.7rem 1rem;
        border: none;
        border-radius: 5px;
        box-shadow: 3px 3px 3px rgb(54, 54, 54), -3px 3px 3px rgb(54, 54, 54);
        cursor: pointer;
        width: 23%;
        font-size: 1.5rem;
    }

    .wheather {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    .events {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .spotlights {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }

    footer {
        flex-direction: row;
        padding: 0;
    }

    footer>p {
        font-size: 0.7rem;
        color: yellow;
        align-self: flex-end;
        margin-bottom: 1rem;
        width: 35%;
    }

    footer>div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    .images {
        grid-column: 2 / 4;
        grid-row: 2 / 5;
    }
}