:root {
    --background-color: lightgray;
    --background-color2: #1D4D72;
    --color: black;
    --font-size: 18px;
  }
  

form {
    margin: 0.5rem 0;
}

form label {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    font-size: var(--font-size);
    color: var(--color);
}

form label input {
    padding: 0.5rem;
    background-color: var(--background-color);
    border: none;
    border-radius: 3px;
}

#submit {
    padding: 0.3rem 1rem;
    border: none;
    background-color: var(--background-color2);
    color: white;
    border-radius: 3px;
}